body {
  margin: 0px;
}
/*--------------navbar style----------------*/
.navbar {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #333333cd;
  border-radius: 1rem;
}

.navbar__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.navbar__left a {
  margin-right: 2rem;
  font-size: larger;
  text-decoration: none;
  color: #ff6b00;
}

.navbar__logo img {
  width: 100px;
  height: 50px;
}

.navbar__right button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 1rem;
  margin-left: 10px;
  color: #ff6b00;
}
/*---------navbar style ends-------------*/

/*--------------Home style----------------*/
.home {
  background-color: #ff6b00;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.home__top {
  margin-bottom: 20px;
}

.home__bottom {
  display: flex;
}

.home__image {
  margin-right: 10px;
}

.home__image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
/*---------Home style ends-------------*/

/*--------------footer style----------------*/
.footer {
  background-color: #333333;
  color: #fff;
  padding: 20px;
}

.footer__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__left,
.footer__right {
  display: flex;
}

.footer__left a,
.footer__right a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.footer__middle {
  margin: 0 20px;
}

.footer__middle img {
  width: 10rem;
  height: 5rem;
}

.footer__right .footer__social a {
  color: #ff6b00;
  margin-right: 10px;
  font-size: 20px;
}

.footer__social a {
  color: #ff6b00;
  margin-right: 10px;
  font-size: 20px;
}
.footer__social {
  color: #ff6b00;
  margin-right: 10px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer__text {
  text-align: center;
  margin-top: 20px;
}

.footer__text p {
  font-size: 14px;
}
/*---------footer style ends-------------*/
