body {
  margin: 0px;
}
/*--------------navbar style----------------*/
.navbar {
  width: -webkit-fill-available;
  height: 4rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #333333ee;
  border-radius: 1rem;
  position: fixed;
  z-index: 1000;
}

.navbar__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__left a {
  font-size: larger;
  text-decoration: none;
  color: #ff6b00;
  padding: 1rem;
}

.navbar__logo img {
  margin-top: 2rem;
  margin-right: 4rem;
  width: 15rem;
  height: 7.5rem;
}

.navbar__right button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 1rem;
  margin-left: 10px;
  color: #ff6b00;
}
/*---------navbar style ends-------------*/

/*--------------Home style----------------*/
.home {
  background-color: #ff6b00;
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.home__top {
  margin-top: 10rem;
  width: 30rem;
  text-align: center;
}

.home__bottom {
  display: flex;
  width: -webkit-fill-available;
  height: fit-content;
  margin-top: 10rem;
  align-items: center;
  justify-content: center;
}

.home__image__left{
  object-fit: cover;
  position: relative;
  left: 15rem;
  z-index: 10;
}
.home__image__left img {
  height: 50rem; /* Increase the height value */
  width: auto; /* Remove the width value */
  object-fit: cover;
  margin-top: -15rem;
}

.home__image__main{
  object-fit: contain;
  height: 50rem;
  margin-top: -10rem;
  z-index: 5;
}

.home__image__main img{
  width: 60rem;
  height: fit-content;
  object-fit: contain;
}

.home__image__right{
  object-fit: contain;
  position: relative;
  right: 25rem;
  z-index: 10;

}
.home__image__right img {
  height: 50rem; /* Increase the height value */
  width: auto; /* Remove the width value */
  object-fit: cover;
  margin-top: -15rem;
} 

/*---------Home style ends-------------*/

/*--------------HomeMenu style----------------*/
.home-menu {
  display: flex;
  height: 100vh;
  flex-direction: column;
  border-radius: 30rem;
  z-index: 20;
  
}

.home-menu__top {
  height: 60%;
  background-color: black  ;
  box-shadow: 20rem 2rem black;
  z-index: 20;
}

.home-menu__bottum {
  height: 50%;
  background-color:#ff6b00;
  z-index: 20;
}

.home-menu__top h1{
 color: #fff;
 font-size: xxx-large;
 display: flex;
 justify-content: center;
}

/*--------------HomeMenu ends-------------*/

/*--------------sidebar style----------------*/
.sidebar {
  position: fixed;
  backdrop-filter:blur(2);
  display: flex;
  flex-direction: column;
  top: 2rem;
  right: -250px;
  width: 200px;
  height: 90vh;
  background-color: #333333ec;
  color: #fff;
  border-radius: 1rem;
  transition: right 1s ease-in-out;
}

.sidebar.open {
  right: 0px;
  transition: left 1s ease-in-out;
}

.sidebar__close-button {
  background-color: transparent;
  border: solid;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  color: #ff6b00;
  padding: 1rem;
  cursor: pointer;
}

.sidebar__content {
  padding: 20px;
  height: fit-content;
}

.sidebar__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.sidebar__image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.sidebar__image h1{
  color: #ff6b00;
}

.sidebar__buttons button {
  display: block;
  width: 100%;
  margin-top: 3rem;
  background-color: #ff6b00;
  border: none;
  border-radius: 1rem;
  color: #fff;
  padding: 10px;
  font-weight: 500;
  font-size: larger;
  text-align: center;
}

.sidebar__logout {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: calc(100% - 40px);
}

.sidebar__logout button {
  width: 100%;
  background-color: transparent;
  border: solid;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: #ff6b00;
  padding: 1rem;
  font-weight: 500;
  font-size: larger;
}
/*---------sidebar style ends-------------*/

/*--------------footer style----------------*/
.footer {
  background-color: #333333;
  color: #fff;
  padding: 20px;
  z-index: 200;
  position: relative;
}

.footer__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__left,
.footer__right {
  display: flex;
}

.footer__left a,
.footer__right a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.footer__middle {
  margin: 0 20px;
}

.footer__middle img {
  width: 10rem;
  height: 5rem;
}

.footer__right .footer__social a {
  color: #ff6b00;
  margin-right: 10px;
  font-size: 20px;
}

.footer__social a {
  color: #ff6b00;
  margin-right: 10px;
  font-size: 20px;
}
.footer__social {
  color: #ff6b00;
  margin-right: 10px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer__text {
  text-align: center;
  margin-top: 20px;
}

.footer__text p {
  font-size: 14px;
}
/*---------footer style ends-------------*/
